@using DevFramework.Northwind.Entities.Concrete
@model List<Galery>
@{
    ViewBag.Title = "Index";
}

<form action="@Url.Action("Index", "Galery")" method="post" enctype="multipart/form-data">
    <input type="file" value="" name="file" />
    <button type="submit">Gonder</button>
</form>

@foreach (var item in Model.ToList())
{
    <img src="@item.Image" />
    <img src="@item.ThumpImage" />
}


